---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "settings";
@import "../bower_components/foundation/scss/foundation";

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

#header {
    float: left;
    padding: 10rem 0 20rem;
    @include media-query($on-palm) {
      padding: 4rem 0 8rem;
    }
    width: 100%;
    //max-width: 1000px;
}

#header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    // background-color: $title-bg-color;
    background: url("../assets/6H.jpg");
    background-size: cover;
    box-shadow: inset 0px 0px 0 $row-width rgba(0,0,0,0.2);
}

#footer {
  margin-bottom: 20px;
}

#header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
    color: #ffffff;
    font-size: $h1-font-size * 2;
    @include media-query($on-palm) {
      font-size: $h1-font-size * 1.2;
    }
    font-weight: 300;
    background: $title-bg-color;
}

#header .fa-inverse {
  color: $title-bg-color;
}

#header .fa-stack {
  font-size: $h1-font-size * 1.2;
  @include media-query($on-palm) {
    // size is 1.2/2 times title font; on-palm, font is 1.2*h1, so we want size 1.2*1.2/2 = .72
    font-size: $h1-font-size * .72;
  }
}

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        // "layout",
        "syntax-highlighting"
;
