---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "settings";
@import "../bower_components/foundation/scss/foundation";

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

#header {
    float: left;
    width: 100%;
    max-width: none;
    padding: 5rem 0 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    margin-bottom: 6rem;
    @include media-query($on-palm) {
      padding: 2rem 0 2rem;
      margin-bottom: 2rem;
    }
    // 
    // background: url("../assets/road-compressed.jpg");
    // Color from http://uigradients.com/#Mojito
    background-color: #93F9B9;
    background-image: linear-gradient(120deg, #1D976C, #93F9B9);
    background-size: cover;
    background-position: center;
    // box-shadow: inset 0px 0px 0 $row-width rgba(0,0,0,0.2);
}

#footer {
  margin-bottom: 20px;
}

#header h1 {
    color: #ffffff;
    font-size: $h1-font-size * 1.6;
    @include media-query($on-palm) {
      font-size: $h1-font-size * 1.2;
    }
    font-weight: 300;
    background: $title-bg-color;
}

#header .fa-inverse {
  color: $title-bg-color;
}

#header .fa-stack {
  font-size: $h1-font-size * 1.6;
  @include media-query($on-palm) {
    // size is 1.2/2 times title font; on-palm, font is 1.2*h1, so we want size 1.2*1.2/2 = .72
    font-size: $h1-font-size * .72;
  }
}

// Our variables
$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        // "layout",
        "syntax-highlighting"
;
