/**
 * Reset some basic elements
 */
pre {
    margin: 0;
    padding: 0;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: $paragraph-font-size;
    font-family: $code-font-family;
    border: 1px solid $code-border-color;
    border-radius: 3px;
    background-color: $code-background-color;
}

code {
    padding: $code-padding;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;
    margin-bottom: $spacing-unit / 2;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
