<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  
    <!-- <script>
      renderMathInElement(
          document,
          {
              delimiters: [
                  {left: "$$", right: "$$", display: true},
                  {left: "\\[", right: "\\]", display: true},
                  {left: "$", right: "$", display: false},
                  {left: "\\(", right: "\\)", display: false}
              ]
          }
      );
    </script> -->
    
    <script defer src="{{ site.baseurl }}/assets/katex_render.js"></script>
  
  </body>

</html>
