---
layout: default
---
<div class="titlepage">

  <div class="row" id="header">
    <div class="large-12 large-centered columns">
      <h1 class="hidden-for-medium-up">
        <span class="fa-stack title-icon">
          <!-- <i class="fa fa-square fa-stack-2x"></i> -->
          <i class="fa fa-terminal fa-stack-1x"></i>
        </span>
        Lost in my Terminal
      </h1>
      <h1 class="hidden-for-small"><center>
        <span class="fa-stack title-icon">
          <!-- <i class="fa fa-square fa-stack-2x"></i> -->
          <i class="fa fa-terminal fa-stack-1x"></i>
        </span>
        Lost in my Terminal
      </center></h1>
    </div>
  </div>

  <div class="row" id="content">
    <div class="large-12 columns">
      {{ content }}
    </div>
  </div>

</div>
